:root {
    --primary: #5C2D91;
    --secondary: #f1e8fa;
}
.site-header {
    border-top: 5px solid #5C2D91;
    border-bottom: 1px solid #5C2D91;
    min-height: 55.95px;
    position: relative;
}

.jumbotron {
    background-color: var(--secondary);
}
.container-height {
    min-height: 78vh;
}

.page-footer {
    border-top: 1px solid #5C2D91;
    margin-bottom: 0;
}

a {
    color: #5C2D91;
}

a:hover {
    color: #5C2D91;
}

.btn {
    background-color: #5C2D91;
    border-color: #5C2D91;
}

.btn:hover {
    background-color: #5C2D91;
    border-color: #5C2D91;
}

.social-icon {
    color: #5C2D91;
    font-size: 19px;
    margin-top: 5px;
}

.text-color {
    color: #5C2D91;
}

.w-260 {
    width: 260px;
}

.mw-50 {
    max-width: 50%;
}

.mw-75 {
    max-width: 75%;
}